<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>File Uploader</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <%- include('navbar') %>
    <div class="body" style="margin-top: 10vh">
      <h1>Custom Cloud Storage</h1>
      <h3>Created with ❤️ by Huzefa</h3>
      <p style="width: 60%">
        Your Files, Everywhere. Free. Discover effortless cloud storage that
        keeps your important files safe and accessible across all your devices.
        Upload, organize, and share with a user-friendly interface designed for
        everyone. Start for free!
      </p>
      <div style="margin-top: 10vh">
        <a class="button" href="/login">Login</a>
        <a class="button" href="/signup">Sign Up</a>
      </div>
    </div>
  </body>
</html>
