<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>File Uploader</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <%- include('navbar') %>
    <form action="/signup" method="post">
    <h1>Sign Up</h1>
      <label for="username">Username</label>
      <input type="text" name="username" id="username" />
      <label for="password">Password</label>
      <input type="password" name="password" id="password" />
      <label for="passwordconfirm">Confirm password</label>
      <input type="password" name="passwordconfirm" id="passwordconfirm" />
      <button class="button" type="submit">SignUp</button>
       <p>Already have an account? <a class="authurl" href="/login">Login</a></p>
    </form>
   
  </body>
</html>
