<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>File Uploader</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <%- include('navbar') %>
    <form
      action="/upload?folder=<%= folderid %>"
      method="post"
      enctype="multipart/form-data"
    >
      <h1>Upload File</h1>

      <input type="file" name="uploadedfile" />
      <button class="button" type="submit">Add File</button>
    </form>
  </body>
</html>
